.authLogo {
    max-width: 300px !important;
    margin: 0px;
    object-fit: fill !important;
}

.authLogoPlaceholder{
    margin: 0px;
    padding: 0px;
}

.authForm {
    border-radius: 16px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 340px;
    margin-left: auto; 
    margin-right: auto;
}

.authFormWrapper {
    width: 100vw;
    margin-top: 3%;
}

.spinner {
    right: 25px;
    top: 25px;
    position: absolute;
}

.authFormCard {
    box-shadow: none !important;
} 

.errorText {
    color: #f44336;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.authButton {
  padding: 20px;
}

.ssoLoginButton:hover {
    background-color: darkgray !important;
}

.ssoLoginButton {
    margin: 0 auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 230px;
    height: 41px;
    border-radius: 4px !important;
    background-color: white !important;
    color: black !important;
    text-transform: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 16px !important;
    border: 2px solid #999999 !important;
}